@font-face {
    font-family: 'Lara';
    src: url(../assets/general/fonts/lara.otf);
}

.wrapper {
	font-family: 'Lara';
	display: block;
	overflow: hidden;
	position: relative;
	width:100%;
	height: 100%;
	background-color: #82E9FF;
}

.scene {
	display: block;
	position: absolute;
	min-width: 100%;
	height: 100%;
	z-index: 10;
}

.level_indicator {
	display: block;
	position: absolute;
	top:30px;
	left:30px;
	z-index: 11;
	font-size: 51px;
}

.current_number {
	display: block;
	position: absolute;
	top:50%;
	left:calc(50% - 15px);
	z-index: 12;
	width:60px;
	height:60px;
	text-align: center;
	background-color: #A6F7FD;
	border-radius: 30px;
}
.current_number_nr {
	display: block;
	position: absolute;
	z-index: 13;
	font-size: 63px;
	width:100%;
	text-align: center;
	color:#333333;
	line-height: 0;
	top:48%;
}

.waves {
	display: block;
	position: absolute;
	min-width: 100%;
	height: 100%;
	z-index: 1;
}

.waves .wave {
	display: block;
	position: absolute;
	min-width: 100%;
	height: 100%;
	z-index: 8;
	background-size: auto auto;
	background-repeat: no-repeat;
	opacity:0.5;
}

.waves .wave.wave_1 {
	background-image: url(../assets/blockmatch/wave1.png);
	z-index: 8;
	background-position-y: -10%;
	width:200vw;
	animation: wave_a 35s infinite ease;
}
@keyframes wave_a {
	0% {
		-webkit-transform: translateX(0%); 
		opacity:0;
	}
	35% {
		-webkit-transform: translateX(20%); 
		opacity:1;
	}
	100% {
		-webkit-transform: translateX(120%); 
		opacity:0;
	}
}

.waves .wave.wave_2 {
	background-image: url(../assets/blockmatch/wave2.png);
	z-index: 9;
	background-position-y: 40%;
	width:200vw;
	animation: wave_b 21s infinite ease;
}
@keyframes wave_b {
	0% {
		-webkit-transform: translateX(-40%); 
		opacity:0;
	}
	70% {
		-webkit-transform: translateX(90%); 
		opacity:1;
	}
	100% {
		-webkit-transform: translateX(120%); 
		opacity:0;
	}
}

.waves .wave.wave_3 {
	background-image: url(../assets/blockmatch/wave3.png);
	z-index: 1;
	background-position: 10% 80%;
	width:200vw;
	animation: wave_c 23s infinite ease;
}
@keyframes wave_c {
  0%   {
	-webkit-transform: translateX(-30%); 
	opacity:0;
  }
  70%  {
	-webkit-transform: translateX(30%); 
	opacity:1;
  }
  100%  {
	-webkit-transform: translateX(-40%); 
	opacity:0;
  }
}

.waves .wave.wave_4 {
	background-image: url(../assets/blockmatch/wave4.png);
	z-index: 6;
	background-position: 80% 10%;
	animation: wave_d 30s infinite cubic-bezier(0.705, 0.005, 0.360, 1.000);
}
@keyframes wave_d {
  0%   {
  	background-position: 10% 10%;
  }
  40%  {
  	background-position: 100% 30%;
  }
  100%  {
  	background-position: 10% 10%;
  }
}

.waves .wave.wave_5 {
	background-image: url(../assets/blockmatch/wave5.png);
	z-index: 2;
	background-position: 90% center;
}

.scene .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.column_holder_left {
	width:30%;
	height:95%;
	position:inherit;
	bottom:5%;
	left:10%;
}

.column_holder_right {
	width:30%;
	height:95%;
	position:inherit;
	bottom:5%;
	right:10%;	
}
.column_holder .column,
.column_holder_left .drop_column {
	width:100%;
	height:100%;
	position:inherit;
	bottom:5%;
}

.column_holder .drop_column .bar {
	z-index: 200;
}
.column.drop_column .bar.dropped .segment.filled {
	visibility: hidden;
}
.column {
	width:100%;
	height:80%;
	position:absolute;
}
.column.left {
	bottom:5%;
}
.column.right {
	bottom:5%;
	right:10%;
}
.column .bar {
	position:absolute;
	padding: 0 5px 0 35px;
	margin: 0;
	background-image: url(../assets/blockmatch/plank-left2.png);
	background-position: left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.column .bar.dropped {
	position:absolute;
	margin: 0;
}

.column.right .bar.hiddenbarright .chunk .segment {
	visibility:hidden;
}
.column.right .bar.numbers .chunk .segment {
	visibility:hidden;
}

.column.right .bar.numbers.ui-draggable-dragging .chunk .segment {
	visibility:visible;
}

.column.right .bar.bars .nr {
	visibility:hidden;
}

.column.right .bar.numbers.bars .chunk .segment {
	visibility:visible;
}
.column.right .bar.numbers.bars .nr {
	visibility:visible;
}

.column .bar .inner,
.drop_column .bar .inner {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border-radius: 4px;
	background-image: url(../assets/blockmatch/plank-middle-right.png);
	background-position: right;
	background-size: auto 100%;
	background-repeat: no-repeat;
	z-index: 100;
}

.column .bar.dropped .inner {
	
}

.column .bar .plank_left {
	display: block;
	position: absolute;
	width: 30%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 80;
	background-image: url(../assets/blockmatch/plank-left.png);
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 101;
}

.drop_column .waves_ {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity:0;
		z-index: 200;
		-webkit-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
	transform: translateY(-40%);
}
.drop_column .waves_ .bubble {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	top:50%;
	background-color:#ffffff;
	animation: anim_bubble 1s forwards linear;
	animation-iteration-count: 1;
		opacity:0;
		border-radius: 50%;
}
.drop_column .waves_.animated {
	opacity:0.7;
}
@keyframes anim_bubble
{
  0%   {
  	opacity:0;
  	transform: scale(0);
  }
  30%  {
  	opacity:0.7;
  	transform: scale(1.2);
  }
  100%  {
  	opacity:0;
  	transform: scale(0);
  }
}

@-webkit-keyframes anim_bubble /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #42cef4;}
  20%  {background: #afeeff;}
  30%  {background: #ffffff;}
  60%  {background: #00bfff;}
  80%  {background: #afeeff;}
}
.drop_column .waves_.show {
	opacity:1;
}

.column .bar.nr20 .inner {
	height: calc(100% - 6px);
	padding: 3px;
}
.column .bar.nr15 .inner {
	height: calc(100% - 6px);
	padding: 3px;
}
.column .bar.nr10 .inner {
	height: calc(100% - 6px);
	padding: 3px;
}

.column .bar .nr {
	position:absolute;
	left:-3px;
	top:50%;
	z-index:1;
	width: 24px;
	padding:12px 0;
	transform: translate(-100%,-50%);
	-webkit-transform: translate(-100%,-50%);
	-ms-transform: translate(-100%,-50%);
	text-align: center;
	font-size: 40px;
    line-height: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNc9v1vGgAH5wMC1P3AaAAAAABJRU5ErkJggg==);
	border-radius: 20px;
}
.column .bar.first {
	position:absolute;
}
.column .bar.dropped {
	background-color: transparent;
	z-index: 100;
}
.column .bar.dropped .segment {
	-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: #444444;
}
.column .bar .segment {
	height: 80%;
	top: 10%;
	float:left;
	z-index:2;
}
.column .bar .chunk {
	float:left;
	height: 100%;
	padding: 0 3px;
}
.column .bar .chunk.single {
	padding: 0;
}
.column .bar .chunk.full {
	float:left;
	border-right: 4px solid #333;
}
.column .bar .chunk.full.last {
	border-right: 0px solid #333;
}
.timer {
	position:absolute;
	top:15px;
	left:50%;
	width: 50%;
	height:20px;
	background-color: #fff;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 7px;
	overflow:hidden;
	background-color: #55CDD0;
	opacity: 0.9;
}
.timer ._bar {
	position:absolute;
	top:0;
	left:0;
	width: 0;
	height:20px;
	background-color: #4B2B2B;
	border-radius: 7px;
}

.segment {
	display: block;
	position: relative;
	margin: 0;
	border-radius: 5px;
	overflow: hidden;
}

.segment:before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	background-image: url(../assets/blockmatch/block-overlay.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.column.right .segment.filled {
	background-color: transparent;
	background-color: #666;
	-webkit-box-shadow: inset -2px -2px 0px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -2px -2px 0px 0px rgba(0,0,0,0.25);
	box-shadow: inset -2px -2px 0px 0px rgba(0,0,0,0.25);
}
.column.right .segment {
	background-color: transparent;
}
.column.right .segment.filled {
	background-color: #444444;
}
.bar.dropped .segment {
	background-color: #aaa;
}
.bar.dropped .segment.filled {
	background-color: #666;
}

.column.left .segment.filled {
	background-color: transparent;
}

.column.left .bar:not(.done) .segment.filled {
	background-color: transparent!important;
}

.column.left .bar.done .segment.filled {
	background-color: #444444;
}
.column.left .bar.done.dropped .segment.filled {
	background-color: #aaaaaa;
}
.rightcolumn_inner {
	position: absolute;
	bottom: 0;
	width:100%;
}



.level_select {
	position: absolute;
	width:70%;
	height: 70%;
	top:15%;
	left:15%;
	z-index: 100000;
}
.level_select input {
	padding:9px;
	font-size: 24px;
}
.level_select button {
	padding:9px;
	font-size: 24px;
	border:none;
}

