.widgetBackground {
    background-image:url("../assets/bookshelf/bookshelf_background.png");
    background-size:100% 100%;
    background-repeat:none;
    width: 100%;
    height:100%;
    background-color:#fff;
  }

  #swipe {
    display:inline;
    width:100%;
  }

  #swipe .slick-list {
    height:100%;
    padding-left: 7%;
    padding-top:5%;
  }

  #swipe .slick-track { 
    height:60%;
    margin-top: 15%;
    margin-left: -5%;
    float: left;

  }
  .book_preview {
    height: 85%;
    width: 65%;
    float: left;
    background-size: 100% 100%;
    background-image: url(../assets/bookshelf/book_cover.png);
  }

  .cover_thumb {
    width:80%;
    margin:0 auto;
    margin-top:10%;
    padding-bottom:40%;
  }

  .swipe-wrap {
    height:100%;
    transition: all 0.5s ease;
  }

  .swipe-wrap div {
    display:inline;
  }
  
  .swipe-wrap img {
    height:100vh;
    width:inherit;
    pointer-events:none;
  }