/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Lara';
    src: url(../assets/general/fonts/lara.otf);
}

#head {
    font-family: myAlphabet;
}

body {
    background-color: #333333;
}

#alphabet {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-gap: 20px;
    font-family: myAlphabet;
    font-size: 50px;
}

.letter_view_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width:100%;
    height:100%;
}

#letter_view {
    position: relative;
    margin:0 auto;
    background-size: 100% 100%;
    -webkit-transition: background-color 1.7s ease-out;
    transition: background-color 1.7s ease-out;
    background: #c6c6c6;
}

#letter_canvas_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
}

#happy_spot_canvas_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

#brush_canvas_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#checkpoint_canvas_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#letter_canvas_overlay_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
#letter_canvas_overlay_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#level_one_canvas_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.hiddenCanvas {
    opacity:0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.biggerCanvas {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#letter_canvas_overlay_holder .intro_word {
    position: absolute;
    font-family: lara;
    font-size: 10vw;
}
#letter_canvas_overlay_holder .intro_word span.underlined {
    border-bottom: 4px solid #333;
}

#letter_canvas_overlay_holder .intro_word_1 {
    top:10%;
    left:10%;
}
#letter_canvas_overlay_holder .intro_letter {
    position: absolute;
    font-family: lara;
    font-size: 13vw;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.reset_progress {
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}
.level_number {
    z-index: 100;
}
.reset_progress {
    
    
}

.level_select_screen {
    position: absolute;
    top:60px;
    left:60px;
    padding: 60px;
    z-index: 200;
}

#log {
    position: absolute;
    top:0;
    left:0;
    padding: 10px;
    z-index: 200;
    width:300px;
    color:#ffffff;
}

#canvaslevelone {
    background: #cac;
}

