
.module_class {
    float: left;
    padding-bottom: 4%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#module_math {
    display: inline;
}

.main_image {
    max-height: 90%;
}

.image_text {
    max-width: 100%;
    padding-top: 2%;
    padding-left: 10%;
}

.button {
    border: none;
    color: rgb(83,191,121, 0.5);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #53BF79;
    background-color: transparent;
    font-family: Lara;
    border-radius: 50px;
  }

  .button-two {
    border: none;
    color: rgb(47, 115, 182, 0.5);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #2F73B6;
    background-color: transparent;
    font-family: Lara;
    border-radius: 50px;
  }

  div {
    font-family: Lara;
  }

  .instructions {
      font-size: 50px;
      padding-left: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
  }

  #widgetBackground {
    overflow-y: scroll;
  }

  #example_title{
    padding-top: 3%;
    margin: 0em;
    font-size: 30px;
  }
