#numberline {
    height:50%;
    width: 100%;
    background: linear-gradient(0deg, #00000030, #88888830);
}

#numberlineCanvas { 
    width: 90%;
    height: 80%;
    position:relative;
    top: 60%;
    left: 5%;
    z-index: 10;
}

#slider {
    width: 100%;
    height: 40%;
    padding: 2.5% 0% 0% 0%;
}

#slider #pad {
    transition-duration: 100ms;
    transition-property: transform;
    background-image: url(../assets/general/slider-red-long.png);
    background-size: 100% 100%;
    width: 5%;
    height: 80%;
    margin-top: -0.2%;
}

#blockholder {
    position: relative;
    width: 80%;
    height: 20%;
    left: 10%;
    top: -70%;
}

#blockholder .block {
    display:inline-block;
    height: 90%;
}

#blockholder .block .img {
    padding: 5%;
    background-position: 76% 47%;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-image: url(../assets/numberline/block.png);
    height: 90%;
}

#level_indicator { 
    position: relative;
    top: 0%;
    left: 1.5%;
    z-index: 6;
    width: 100%;
    height: 100%;
}

@keyframes scaleIn {
    0% { transform: scale(1.8) }
    100% { transform: scale(0.8) }
}

#level_indicator_container {
    position: relative;
    font-family: 'AldiBold';
    width: 10%;
    height: 30%;
}

#level_indicator_bg {
    background-image: url(../assets/general/white-bubble-indicator.png);
    animation: scaleIn 1s;
    transition: all ease-in-out 1s;
    transform: scale(1);
    position: relative;
    background-size: 150% 150%;
    background-position-x: 100%;
    background-position-y: 100%;
    height: 100%;
    top: -100%;
    z-index: 5;
    filter: drop-shadow(0px 0px 0px rgba(229, 255, 0, 1));
}
#level_indicator h1 {
    padding: 20%;
    background-size: 100% 100%;
    font-size: 2vw;
}

#current_problem {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    font-family: 'AldiBold';
    z-index: 1;
}

#current_problem h1 {
    display: inline-block;
    font-size: 5vw;
    width: 7vw;
    line-height: 14vh;
    background-size: 100% 100%;
    transition: all .5s ease-in-out;
}

@keyframes bounce {
    0% { opacity: 0.9; transform: scale(1,1)}
    17% { opacity: 1; transform: scale(1.2,1.2) }
    35% { opacity: 0.9; transform: scale(1,1)}
    52%   { opacity: 1; transform: scale(1.2, 1.2) }
    100%  { opacity: 0.9; transform: scale(0.2, 0.2) translate(-300vw,-80vh) }
}

h1.result {
    animation: bounce 2s forwards;
    color:#ffe600;
}

@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

#current_problem h1.active {
    background-image: url(../assets/general/white-bubble-indicator.png);
    animation: fadeIn 1s;
    z-index: -1;
    background-size: 100% 100%;
}

#current_problem h1.bg {
    background-image: url(../assets/general/white-bubble-indicator.png);
    z-index: -1;
    background-size: 100% 100%;
}

#ad {
    display:none;
}

@keyframes shake { 
    0% { transform: translate(0%) }
    25% { transform: translate(5%) }
    50% { transform: translate(-5%) }
    75% { transform: translate(5%) }
    100% { transform: translate(0%) }
}

#cursor {
    position: relative;
    top: -45%;
    left: 9%;
    width: 4%;
    height: 21%;
    background-image: url(../assets/numberline/pointer.png);
    z-index: 10;
    background-size: 100% 100%;
    transition: all ease-in-out 1s;
    animation: fadeIn 1s;
}

#helpers {
    width: 100%;
    height: 100%;
}

#arrow {
    position: relative;
    top: -68%;
    height: 5%;
    z-index: 9;
    padding-left: 9.1%;
    background-image: url(../assets/numberline/arrow.png);
    background-size: 100% 100%;
    background-clip: content-box;
}

#pad_selector {
    position:absolute;
    z-index:1000;
}